<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title
      ><mat-slide-toggle
        [checked]="product.Done"
        (change)="preventSlide($event, product.Done)"
      ></mat-slide-toggle>
      <button
        mat-raised-button
        (click)="deleteProduct(product.ID)"
        *ngIf="isadmin"
      >
        <span class="material-icons"> delete</span>
      </button>
      <span> <hr /> </span>
    </mat-card-title>
    <mat-card-subtitle (dblclick)="edit(product)">
      <ng-container *ngIf="product.Done === 'true'">
        <s>{{ product.Description }}</s>
      </ng-container>
      <ng-container *ngIf="product.Done === 'false'">
        {{ product.Description }}
      </ng-container>
      <br />
      <ng-container> Priority: {{ product.Priority }} </ng-container>
    </mat-card-subtitle>
  </mat-card-header>

  <!-- <mat-card-actions *ngIf="isclient">
        <p class="tools">
          <button [id]="cart"
            mat-icon-button
            color="primary"
            (click)="addme(product, count)"
          >
            <mat-icon>add_shopping_cart</mat-icon>
          </button>
          <button
            mat-icon-button
            color="blue"
            (click)="plus()"
            style="margin-left: 18px"
            id="btn"
          >
            <span class="material-icons"> add </span>
          </button>
          <input id="input"
            type="number"
            [(ngModel)]="count"
            min="1"
            style="margin-left: 5px"
          />
          <button
            mat-icon-button
            color="blue"
            (click)="minus()"
            id="btn"
            style="margin-left: 7px"
          >
            <span class="material-icons"> remove </span>
          </button>
        </p>
      </mat-card-actions> -->
  <!-- </a> -->
</mat-card>
