<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title
      ><mat-slide-toggle
        [checked]="product.Done"
        (change)="preventSlide($event, product.Done)"
      ></mat-slide-toggle>
      <button
        mat-raised-button
        (click)="deleteProduct(product.ID)"
        *ngIf="isadmin"
      >
        <span class="material-icons"> delete</span>
      </button>
      <span> <hr /> </span>
    </mat-card-title>
    <mat-card-subtitle (dblclick)="edit(product)">
      <ng-container *ngIf="product.Done === 'true'">
        <s>{{ product.Description }}</s>
      </ng-container>
      <ng-container *ngIf="product.Done === 'false'">
        {{ product.Description }}
      </ng-container>
      <br />
      <ng-container> Priority: {{ product.Priority }} </ng-container>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
